.card-valores{
    transition: color 250ms ease-in-out;
}
.card-valores:hover{
    transform: translateY(-0.25rem)!important;
    transition: color 800ms cubic-bezier(.2, 1, .2, 1),transform 800ms cubic-bezier(.2, 1, .2, 1);
}
.card-valores > .card-header> i{
    transition: color 250ms ease-in-out;
}
.card-valores:hover > .card-header> i{
    color: var(--bs-primary)!important;
    transition: color 800ms cubic-bezier(.2, 1, .2, 1)
}

.card-integrante {
    overflow: hidden;
    background: none;
    border: none;
}

.card-integrante img {
    transition: transform 1.8s cubic-bezier(.2, 1, .2, 1);
}

.card-integrante:hover img {
    transform: scale(1.02);
}

.iconos-integrantes {
    opacity: 0%;
    transform: translate(0, 100%);
    visibility: hidden;
    transition: all 1.8s cubic-bezier(.2, 1, .2, 1);
}

.card-integrante:hover .iconos-integrantes {
    transform: translate(0, 0);
    opacity: 100%;
    visibility: visible;
    transition: all 1.8s cubic-bezier(.2, 1, .2, 1);
}

.card-img {
    object-fit: cover;
}

.gradiente-card {
    background: radial-gradient(70% 80% at 50% 20%, var(--bs-dark) 0%, transparent 100%);
    text-shadow: 0 0.25rem 1rem var(--bs-dark);
    transform: translate(0, 35%);
    opacity: 100%;
    transition: all 1.8s cubic-bezier(.2, 1, .2, 1);
}
.card-integrante:hover .gradiente-card {
    transform: translate(0, 0);
    opacity: 100%;
    transition: all 1.8s cubic-bezier(.2, 1, .2, 1);
}