body {
  background-image: url("https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Fitness/Articles/Twice+a+Day/man+working+out-carousel.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.body-blur {
  background: rgba(22, 27, 27, 0.9) !important;
  backdrop-filter: blur(10px) !important;
}
.position-sticky{
    height: 100%;
}
.divProfesor div{
    border: black 1px solid;
}