@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@900&family=Nunito+Sans:wght@200&family=Open+Sans:wght@500&family=Oswald:wght@700&family=Poppins:wght@900&family=Roboto+Condensed&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap");

/*  Fuentes

    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
